[Unit]
Description=Boat Tracker Service
After=network.target

[Service]
User=mike
WorkingDirectory=/home/mike/boat-tracker
ExecStart=/home/mike/boat-tracker/boat-venv/bin/python /home/mike/boat-tracker/boat_tracker.py
Restart=always
RestartSec=5
Environment=PYTHONUNBUFFERED=1

StandardOutput=append:/var/log/boat_tracker.log
StandardError=append:/var/log/boat_tracker.log

[Install]
WantedBy=multi-user.target
